<section class="vbox">
	<section class="w-f scrollable">
		<div class="slim-scroll" data-height="auto" data-disable-fade-out="true" data-distance="0" data-size="5px" data-color="#333333">
			<!-- nav -->
			<nav class="nav-primary hidden-xs">
				<ul class="nav">
					<li class="menuitem"><a href="/Contentgroups"><i class="fa fa-cogs icon"><b class="bg-info"></b></i><span>مدیریت گروه های محتوایی</span></a></li>
					
					<li id="blogLi" class="menuitem">
						<a href="#">
							<i class="fa fa-sitemap icon"><b class="bg-primary"></b></i><span class="pull-right"><i class="fa fa-angle-down text"></i><i class="fa fa-angle-up text-active"></i></span><span>مدیریت محتوا</span>
						</a>
						<ul class="nav lt">
							<li>
								<a href="/Contents/index/428AB728-6C2F-4D9E-AFAB-C5D69C264D5E">
									<i class="fa fa-angle-left"></i><span>مدیریت محتوای متنی</span>
								</a>
							</li>
							<li>
								<a href="/Contents/index/6D995A1E-0943-4761-8579-EC8878EA4F8B">
									<i class="fa fa-angle-left"></i><span>مدیریت محتوای ویدیویی</span>
								</a>
							</li>
							<li>
								<a href="/Contents/index/13AD9A72-B049-4A7F-8516-D4F4EA9BA5C9">
									<i class="fa fa-angle-left"></i><span>مدیریت محتوای صوتی</span>
								</a>
							</li>
						</ul>
					</li>
					<li class="menuitem"><a href="/magzines"><i class="fa fa-cogs icon"><b class="bg-info"></b></i><span>مدیریت مجلات</span></a></li>
					<li class="menuitem"><a href="/faqs"><i class="fa fa-cogs icon"><b class="bg-info"></b></i><span>مدیریت سوالات متداول</span></a></li>
					<li class="menuitem"><a href="/users"><i class="fa fa-cogs icon"><b class="bg-info"></b></i><span>مدیریت کاربران</span></a></li>
					<li class="menuitem"><a href="/arassets"><i class="fa fa-cogs icon"><b class="bg-info"></b></i><span>مدیریت محتوای AR</span></a></li>
				</ul>
			</nav>
		</div>
	</section>
</section>
