USE [ITFamili]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 7/5/2020 3:36:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ActivationCodes]    Script Date: 7/5/2020 3:36:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ActivationCodes](
	[Id] [uniqueidentifier] NOT NULL,
	[Code] [int] NOT NULL,
	[ExpireDate] [datetime] NOT NULL,
	[IsUsed] [bit] NOT NULL,
	[UsingDate] [datetime] NULL,
	[DeviceId] [nvarchar](200) NULL,
	[DeviceModel] [nvarchar](50) NULL,
	[OsType] [nvarchar](50) NULL,
	[OsVersion] [nvarchar](max) NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreationDate] [datetime] NOT NULL,
	[LastModifiedDate] [datetime] NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletionDate] [datetime] NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.ActivationCodes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Cities]    Script Date: 7/5/2020 3:36:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cities](
	[Id] [uniqueidentifier] NOT NULL,
	[ProvinceId] [uniqueidentifier] NOT NULL,
	[Title] [nvarchar](100) NOT NULL,
	[IsCenter] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreationDate] [datetime] NOT NULL,
	[LastModifiedDate] [datetime] NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletionDate] [datetime] NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Cities] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ContentComments]    Script Date: 7/5/2020 3:36:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ContentComments](
	[Id] [uniqueidentifier] NOT NULL,
	[ContentId] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[Comment] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
	[CreationDate] [datetime] NOT NULL,
	[LastModifiedDate] [datetime] NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletionDate] [datetime] NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.ContentComments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ContentLikes]    Script Date: 7/5/2020 3:36:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ContentLikes](
	[Id] [uniqueidentifier] NOT NULL,
	[ContentId] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[IsLike] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreationDate] [datetime] NOT NULL,
	[LastModifiedDate] [datetime] NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletionDate] [datetime] NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.ContentLikes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Contents]    Script Date: 7/5/2020 3:36:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contents](
	[Id] [uniqueidentifier] NOT NULL,
	[Title] [nvarchar](500) NOT NULL,
	[UrlParam] [nvarchar](max) NOT NULL,
	[ImageUrl] [nvarchar](max) NULL,
	[Summery] [nvarchar](max) NULL,
	[Body] [ntext] NULL,
	[FileUrl] [nvarchar](max) NULL,
	[PageTitleTag] [nvarchar](max) NULL,
	[PageMetaDescription] [nvarchar](max) NULL,
	[ContentTypeId] [uniqueidentifier] NOT NULL,
	[IsInSlider] [bit] NOT NULL,
	[IsInHome] [bit] NULL,
	[IsActive] [bit] NOT NULL,
	[CreationDate] [datetime] NOT NULL,
	[LastModifiedDate] [datetime] NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletionDate] [datetime] NULL,
	[Description] [nvarchar](max) NULL,
	[LikeCount] [int] NOT NULL DEFAULT ((0)),
	[CommentCount] [int] NOT NULL DEFAULT ((0)),
	[BodySite] [ntext] NULL,
 CONSTRAINT [PK_dbo.Contents] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ContentTypes]    Script Date: 7/5/2020 3:36:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ContentTypes](
	[Id] [uniqueidentifier] NOT NULL,
	[Title] [nvarchar](500) NOT NULL,
	[UrlParam] [nvarchar](max) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreationDate] [datetime] NOT NULL,
	[LastModifiedDate] [datetime] NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletionDate] [datetime] NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.ContentTypes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Faqs]    Script Date: 7/5/2020 3:36:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Faqs](
	[Id] [uniqueidentifier] NOT NULL,
	[Order] [int] NOT NULL,
	[Question] [nvarchar](max) NULL,
	[Answer] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
	[CreationDate] [datetime] NOT NULL,
	[LastModifiedDate] [datetime] NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletionDate] [datetime] NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Faqs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Magzines]    Script Date: 7/5/2020 3:36:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Magzines](
	[Id] [uniqueidentifier] NOT NULL,
	[Title] [nvarchar](500) NOT NULL,
	[PublishDate] [datetime] NULL,
	[Amount] [decimal](18, 2) NULL,
	[FileUrl] [nvarchar](500) NULL,
	[ImageUrl] [nvarchar](500) NULL,
	[UrlParam] [nvarchar](max) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreationDate] [datetime] NOT NULL,
	[LastModifiedDate] [datetime] NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletionDate] [datetime] NULL,
	[Description] [nvarchar](max) NULL,
	[LikeCount] [int] NOT NULL DEFAULT ((0)),
	[CommentCount] [int] NOT NULL DEFAULT ((0)),
	[Summery] [ntext] NULL,
	[SummerySite] [ntext] NULL,
 CONSTRAINT [PK_dbo.Magzines] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Provinces]    Script Date: 7/5/2020 3:36:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Provinces](
	[Id] [uniqueidentifier] NOT NULL,
	[Title] [nvarchar](100) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreationDate] [datetime] NOT NULL,
	[LastModifiedDate] [datetime] NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletionDate] [datetime] NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Provinces] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Roles]    Script Date: 7/5/2020 3:36:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[Id] [uniqueidentifier] NOT NULL,
	[Title] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreationDate] [datetime] NOT NULL,
	[LastModifiedDate] [datetime] NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletionDate] [datetime] NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Roles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SupportRequests]    Script Date: 7/5/2020 3:36:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SupportRequests](
	[Id] [uniqueidentifier] NOT NULL,
	[Subject] [nvarchar](max) NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreationDate] [datetime] NOT NULL,
	[LastModifiedDate] [datetime] NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletionDate] [datetime] NULL,
	[Description] [nvarchar](max) NULL,
	[Message] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.SupportRequests] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Users]    Script Date: 7/5/2020 3:36:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [uniqueidentifier] NOT NULL,
	[Password] [nvarchar](150) NULL,
	[CellNum] [nvarchar](20) NOT NULL,
	[FullName] [nvarchar](250) NULL,
	[Code] [int] NOT NULL,
	[RoleId] [uniqueidentifier] NOT NULL,
	[ParentId] [uniqueidentifier] NULL,
	[Token] [nvarchar](max) NULL,
	[RemainCredit] [decimal](18, 2) NULL,
	[OsType] [nvarchar](50) NULL,
	[VersionNumber] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
	[CreationDate] [datetime] NOT NULL,
	[LastModifiedDate] [datetime] NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletionDate] [datetime] NULL,
	[Description] [nvarchar](max) NULL,
	[IsMale] [bit] NULL,
 CONSTRAINT [PK_dbo.Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[VersionHistories]    Script Date: 7/5/2020 3:36:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VersionHistories](
	[Id] [uniqueidentifier] NOT NULL,
	[VersionNumber] [nvarchar](max) NULL,
	[Os] [nvarchar](max) NULL,
	[IsNeccessary] [bit] NOT NULL,
	[LatestStableVersion] [nvarchar](max) NULL,
	[IsBeta] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreationDate] [datetime] NOT NULL,
	[LastModifiedDate] [datetime] NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletionDate] [datetime] NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.VersionHistories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
INSERT [dbo].[ActivationCodes] ([Id], [Code], [ExpireDate], [IsUsed], [UsingDate], [DeviceId], [DeviceModel], [OsType], [OsVersion], [UserId], [IsActive], [CreationDate], [LastModifiedDate], [IsDeleted], [DeletionDate], [Description]) VALUES (N'45d2cff7-06ca-4a46-9ad6-01cd916a175c', 42923, CAST(N'2020-06-05 20:12:50.817' AS DateTime), 0, NULL, NULL, NULL, NULL, NULL, N'fab38217-6bf8-490c-a764-a45fe36d316d', 1, CAST(N'2020-06-03 20:12:50.817' AS DateTime), CAST(N'2020-06-03 20:12:50.817' AS DateTime), 0, NULL, NULL)
GO
INSERT [dbo].[ActivationCodes] ([Id], [Code], [ExpireDate], [IsUsed], [UsingDate], [DeviceId], [DeviceModel], [OsType], [OsVersion], [UserId], [IsActive], [CreationDate], [LastModifiedDate], [IsDeleted], [DeletionDate], [Description]) VALUES (N'17a0ee9e-61eb-490c-a2f0-0bb355e253b2', 82996, CAST(N'2020-06-05 17:42:12.877' AS DateTime), 0, NULL, NULL, NULL, NULL, NULL, N'2f50ae5a-51fe-494d-bfc9-bfecbf1f4da5', 0, CAST(N'2020-06-03 17:42:12.877' AS DateTime), CAST(N'2020-06-03 18:09:36.863' AS DateTime), 0, NULL, NULL)
GO
INSERT [dbo].[ActivationCodes] ([Id], [Code], [ExpireDate], [IsUsed], [UsingDate], [DeviceId], [DeviceModel], [OsType], [OsVersion], [UserId], [IsActive], [CreationDate], [LastModifiedDate], [IsDeleted], [DeletionDate], [Description]) VALUES (N'c38604aa-6808-4c8e-b316-2828bae1a07d', 21011, CAST(N'2020-06-05 18:09:36.863' AS DateTime), 0, NULL, NULL, NULL, NULL, NULL, N'2f50ae5a-51fe-494d-bfc9-bfecbf1f4da5', 0, CAST(N'2020-06-03 18:09:36.863' AS DateTime), CAST(N'2020-06-03 18:10:13.253' AS DateTime), 0, NULL, NULL)
GO
INSERT [dbo].[ContentComments] ([Id], [ContentId], [UserId], [Comment], [IsActive], [CreationDate], [LastModifiedDate], [IsDeleted], [DeletionDate], [Description]) VALUES (N'f599805c-017d-447f-baf5-099a87181ce1', N'deeb07df-1050-40c6-a107-cdcc8096f7e8', N'2f50ae5a-51fe-494d-bfc9-bfecbf1f4da5', N'555', 1, CAST(N'2020-06-04 15:36:05.543' AS DateTime), CAST(N'2020-06-04 15:36:05.543' AS DateTime), 0, NULL, NULL)
GO
INSERT [dbo].[ContentComments] ([Id], [ContentId], [UserId], [Comment], [IsActive], [CreationDate], [LastModifiedDate], [IsDeleted], [DeletionDate], [Description]) VALUES (N'599254b7-c0cf-4338-9292-6ca606a9a7ac', N'7bd004ef-e1bf-42f8-910c-aa3dbcc550ef', N'2f50ae5a-51fe-494d-bfc9-bfecbf1f4da5', N'متن نظر', 1, CAST(N'2020-04-05 11:30:51.030' AS DateTime), CAST(N'2020-04-05 11:30:51.030' AS DateTime), 0, NULL, NULL)
GO
INSERT [dbo].[ContentComments] ([Id], [ContentId], [UserId], [Comment], [IsActive], [CreationDate], [LastModifiedDate], [IsDeleted], [DeletionDate], [Description]) VALUES (N'2685780f-8bc5-4e6c-bb0f-98eaa9e516b2', N'7bd004ef-e1bf-42f8-910c-aa3dbcc550ef', N'2f50ae5a-51fe-494d-bfc9-bfecbf1f4da5', N'متن نظر', 1, CAST(N'2020-04-05 11:31:11.417' AS DateTime), CAST(N'2020-04-05 11:31:11.417' AS DateTime), 0, NULL, NULL)
GO
INSERT [dbo].[ContentLikes] ([Id], [ContentId], [UserId], [IsLike], [IsActive], [CreationDate], [LastModifiedDate], [IsDeleted], [DeletionDate], [Description]) VALUES (N'32f7cfec-a7aa-4267-a328-f034fa6d4064', N'7bd004ef-e1bf-42f8-910c-aa3dbcc550ef', N'2f50ae5a-51fe-494d-bfc9-bfecbf1f4da5', 0, 1, CAST(N'2020-04-05 10:48:50.763' AS DateTime), CAST(N'2020-04-05 11:19:10.260' AS DateTime), 0, NULL, NULL)
GO
INSERT [dbo].[Contents] ([Id], [Title], [UrlParam], [ImageUrl], [Summery], [Body], [FileUrl], [PageTitleTag], [PageMetaDescription], [ContentTypeId], [IsInSlider], [IsInHome], [IsActive], [CreationDate], [LastModifiedDate], [IsDeleted], [DeletionDate], [Description], [LikeCount], [CommentCount], [BodySite]) VALUES (N'51908936-0036-46ab-af8b-30b4bb32209c', N'بصث', N'صثبص', NULL, N'صثب', N'صثب', NULL, N'بصث', N'صثب', N'428ab728-6c2f-4d9e-afab-c5d69c264d5e', 0, 0, 1, CAST(N'2020-03-12 18:27:20.000' AS DateTime), CAST(N'2020-03-12 18:28:53.380' AS DateTime), 0, NULL, NULL, 2, 2, N'صثب')
GO
INSERT [dbo].[Contents] ([Id], [Title], [UrlParam], [ImageUrl], [Summery], [Body], [FileUrl], [PageTitleTag], [PageMetaDescription], [ContentTypeId], [IsInSlider], [IsInHome], [IsActive], [CreationDate], [LastModifiedDate], [IsDeleted], [DeletionDate], [Description], [LikeCount], [CommentCount], [BodySite]) VALUES (N'5e6e5cc8-35a4-442a-900f-a3946a23f316', N'eee', N'eee', NULL, N'ee', N'ee', NULL, N'eee', N'ee', N'428ab728-6c2f-4d9e-afab-c5d69c264d5e', 0, 0, 0, CAST(N'2020-03-12 19:08:30.900' AS DateTime), NULL, 0, NULL, NULL, 0, 0, N'e')
GO
INSERT [dbo].[ContentTypes] ([Id], [Title], [UrlParam], [IsActive], [CreationDate], [LastModifiedDate], [IsDeleted], [DeletionDate], [Description]) VALUES (N'428ab728-6c2f-4d9e-afab-c5d69c264d5e', N'محتوای متنی', N'blog', 1, CAST(N'2020-01-01 00:00:00.000' AS DateTime), NULL, 0, NULL, NULL)
GO
INSERT [dbo].[ContentTypes] ([Id], [Title], [UrlParam], [IsActive], [CreationDate], [LastModifiedDate], [IsDeleted], [DeletionDate], [Description]) VALUES (N'13ad9a72-b049-4a7f-8516-d4f4ea9ba5c9', N'پادکست', N'podcast', 1, CAST(N'2020-01-01 00:00:00.000' AS DateTime), NULL, 0, NULL, NULL)
GO
INSERT [dbo].[ContentTypes] ([Id], [Title], [UrlParam], [IsActive], [CreationDate], [LastModifiedDate], [IsDeleted], [DeletionDate], [Description]) VALUES (N'6d995a1e-0943-4761-8579-ec8878ea4f8b', N'ویدیو', N'video', 1, CAST(N'2020-01-01 00:00:00.000' AS DateTime), NULL, 0, NULL, NULL)
GO
INSERT [dbo].[Roles] ([Id], [Title], [Name], [IsActive], [CreationDate], [LastModifiedDate], [IsDeleted], [DeletionDate], [Description]) VALUES (N'f1dcedb2-a865-4c73-bc51-1afd28118d39', N'راهبر ویژه', N'SuperAdministrator', 1, CAST(N'2020-02-24 13:07:00.153' AS DateTime), NULL, 0, NULL, NULL)
GO
INSERT [dbo].[Roles] ([Id], [Title], [Name], [IsActive], [CreationDate], [LastModifiedDate], [IsDeleted], [DeletionDate], [Description]) VALUES (N'f53d469b-4172-42a9-8355-20032367c627', N'راهبر', N'Administrator', 1, CAST(N'2020-02-24 13:07:00.300' AS DateTime), NULL, 0, NULL, NULL)
GO
INSERT [dbo].[Roles] ([Id], [Title], [Name], [IsActive], [CreationDate], [LastModifiedDate], [IsDeleted], [DeletionDate], [Description]) VALUES (N'b999eb27-7330-4062-b81f-62b3d1935885', N'کاربر', N'Employer', 1, CAST(N'2020-02-24 13:07:00.333' AS DateTime), NULL, 0, NULL, NULL)
GO
INSERT [dbo].[SupportRequests] ([Id], [Subject], [UserId], [IsActive], [CreationDate], [LastModifiedDate], [IsDeleted], [DeletionDate], [Description], [Message]) VALUES (N'2bda29a4-9d34-4349-b01a-58280ab3e8d9', N'موضوع درخواست', N'2f50ae5a-51fe-494d-bfc9-bfecbf1f4da5', 1, CAST(N'2020-02-28 13:50:00.873' AS DateTime), CAST(N'2020-02-28 13:50:00.873' AS DateTime), 0, NULL, NULL, N'متن درخواست')
GO
INSERT [dbo].[Users] ([Id], [Password], [CellNum], [FullName], [Code], [RoleId], [ParentId], [Token], [RemainCredit], [OsType], [VersionNumber], [Email], [IsActive], [CreationDate], [LastModifiedDate], [IsDeleted], [DeletionDate], [Description], [IsMale]) VALUES (N'24156df5-f0a4-4e93-a7a7-2857be30803e', N'123', N'09123334455', N'شیئهد', 0, N'f53d469b-4172-42a9-8355-20032367c627', NULL, NULL, CAST(0.00 AS Decimal(18, 2)), N'desktop', N'1', NULL, 1, CAST(N'2020-03-10 18:22:47.000' AS DateTime), CAST(N'2020-03-10 18:23:04.003' AS DateTime), 0, NULL, NULL, 1)
GO
INSERT [dbo].[Users] ([Id], [Password], [CellNum], [FullName], [Code], [RoleId], [ParentId], [Token], [RemainCredit], [OsType], [VersionNumber], [Email], [IsActive], [CreationDate], [LastModifiedDate], [IsDeleted], [DeletionDate], [Description], [IsMale]) VALUES (N'8a299476-1c71-4413-ba54-517861b51969', N'31262', N'09124806404', NULL, 300003, N'b999eb27-7330-4062-b81f-62b3d1935885', NULL, N'', NULL, NULL, NULL, NULL, 0, CAST(N'2020-02-24 14:48:22.010' AS DateTime), CAST(N'2020-02-28 02:04:54.207' AS DateTime), 1, CAST(N'2020-02-28 02:04:54.207' AS DateTime), NULL, NULL)
GO
ALTER TABLE [dbo].[ActivationCodes]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ActivationCodes_dbo.Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ActivationCodes] CHECK CONSTRAINT [FK_dbo.ActivationCodes_dbo.Users_UserId]
GO
ALTER TABLE [dbo].[Cities]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Cities_dbo.Provinces_ProvinceId] FOREIGN KEY([ProvinceId])
REFERENCES [dbo].[Provinces] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Cities] CHECK CONSTRAINT [FK_dbo.Cities_dbo.Provinces_ProvinceId]
GO
ALTER TABLE [dbo].[ContentComments]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ContentComments_dbo.Contents_ContentId] FOREIGN KEY([ContentId])
REFERENCES [dbo].[Contents] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ContentComments] CHECK CONSTRAINT [FK_dbo.ContentComments_dbo.Contents_ContentId]
GO
ALTER TABLE [dbo].[ContentComments]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ContentComments_dbo.Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ContentComments] CHECK CONSTRAINT [FK_dbo.ContentComments_dbo.Users_UserId]
GO
ALTER TABLE [dbo].[ContentLikes]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ContentLikes_dbo.Contents_ContentId] FOREIGN KEY([ContentId])
REFERENCES [dbo].[Contents] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ContentLikes] CHECK CONSTRAINT [FK_dbo.ContentLikes_dbo.Contents_ContentId]
GO
ALTER TABLE [dbo].[ContentLikes]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ContentLikes_dbo.Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ContentLikes] CHECK CONSTRAINT [FK_dbo.ContentLikes_dbo.Users_UserId]
GO
ALTER TABLE [dbo].[Contents]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Contents_dbo.ContentTypes_ContentTypeId] FOREIGN KEY([ContentTypeId])
REFERENCES [dbo].[ContentTypes] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Contents] CHECK CONSTRAINT [FK_dbo.Contents_dbo.ContentTypes_ContentTypeId]
GO
ALTER TABLE [dbo].[SupportRequests]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SupportRequests_dbo.Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SupportRequests] CHECK CONSTRAINT [FK_dbo.SupportRequests_dbo.Users_UserId]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Users_dbo.Roles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_dbo.Users_dbo.Roles_RoleId]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Users_dbo.Users_ParentId] FOREIGN KEY([ParentId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_dbo.Users_dbo.Users_ParentId]
GO
