<footer class="site-footer overflow-hidden">
	<figure class="leftside-image">
		<picture>
			<img src="/img/09-footer/shape-left.svg">
		</picture>
	</figure>
	<div class="footer-top">
		<div class="container">
			<div class="row justify-content-between">
				<div class="col-lg-3 footer-sections">
					<h4 class="footer-section-title">
						Tehran Office
					</h4>
					<ul>
						<li>
							<img src="/img/09-footer/pin.svg" class="svg-icon">
							<span>
								Unit 1, First floor, No 16, Tohid 3 St, Golha Ave, Darya Blv, tehran
							</span>
						</li>
						<li>
							<img src="/img/09-footer/fax-icon.svg" class="svg-icon">
							<span>
								+986152428155 / +986152420000
							</span>
						</li>
						<li>
							<img src="/img/09-footer/phone.svg" class="svg-icon">
							<span>
								+989173530000
							</span>
						</li>
						<li>
							<img src="/img/09-footer/email.svg" class="svg-icon">
							<span>
								mailto:0000000000@hotmail.com
							</span>
						</li>
					</ul>
				</div>
				<div class="col-lg-3 footer-sections">
					<h4 class="footer-section-title">
						Tehran Office
					</h4>
					<ul>
						<li>
							<img src="/img/09-footer/pin.svg" class="svg-icon">
							<span>
								Unit 1, First floor, No 16, Tohid 3 St, Golha Ave, Darya Blv, tehran
							</span>
						</li>
						<li>
							<img src="/img/09-footer/fax-icon.svg" class="svg-icon">
							<span>
								+986152428155 / +986152420000
							</span>
						</li>
						<li>
							<img src="/img/09-footer/phone.svg" class="svg-icon">
							<span>
								+989173530000
							</span>
						</li>
						<li>
							<img src="/img/09-footer/email.svg" class="svg-icon">
							<span>
								mailto:0000000000@hotmail.com
							</span>
						</li>
					</ul>
				</div>
				<div class="col-lg-5 footer-left-container">

					<div class="footer-describe">
						<h4>IT FAMILY</h4>
						<p>
							According to the Iranian customs office, all customs offices of the country, as well
							as the letter of the Minister of Industry, Mining and Trade, will be prevented from
							any export of petrochemicals in the absence of the terms mentioned.According to the
							Iranian customs office, all customs offices of the country, as well as the letter of
							the Minister of Industry, Mining and Trade, will be prevented from any export of
							petrochemicals in the absence of the terms mentioned.
						</p>
					</div>
					<div class="footer-social">
						<ul>
							<li>
								<a href="#0">
									<img src="/img/09-footer/social-icons/facebook.png">
								</a>
							</li>

							<li>
								<a href="#0">
									<img src="/img/09-footer/social-icons/telegram.png">
								</a>
							</li>

							<li>
								<a href="#0">
									<img src="/img/09-footer/social-icons/google-plus.png">
								</a>
							</li>

							<li>
								<a href="#0">
									<img src="/img/09-footer/social-icons/instagram.png">
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="footer-bottom">
		<div class="redline"></div>
	</div>
</footer>